.content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
  height: calc(100%);
  box-sizing: border-box;
}

.blue {
  color: var(--primary);
}

.content h1 {
  font-size: 64px;
  font-weight: 800;
  margin: 0;
}

.apart {
  display: flex;
  justify-content: space-between;
  margin: 0 20px 0 20px;
  width: 200px;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  // justify-content: space-evenly;
  justify-content: center;
  width: 50%;
  height: 100%;
}

.buttons {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.something {
  display: flex;
  justify-content: space-between;
  margin: 0 20px 0 20px;
  width: 200px;
}

.primary {
  background-color: var(--primary);
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
}

.textbutton {
  background-color: rgba(#c6a251, 0.15);
  backdrop-filter: blur(16px);
  border-radius: 5px;
  padding: 20px;
  font-size: 18px;
  font-weight: 600;
  margin-top: 12px;
  margin-bottom: 20px;
}
