.login-button {
  background-color: #0668e1;
  border: none;
  height: 60px;
  width: 300px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  & img {
    height: 300px;
  }

  & p {
    padding-top: 40px;
    font-size: 28px;
    font-weight: 600;
  }

  & span {
    font-weight: 500;
    font-size: 20px;
  }

  & div {
    font-weight: 500;
    font-size: 20px;
    margin-top: 20px;
  }
}
