.content {
  display: flex;
  flex-direction: column;
  margin: 55px 310px;

  &__section {
    display: flex;
    flex-flow: column;

    &__title {
      display: flex;
      font-weight: 900;
      gap: 10px;

      * {
        font-size: 36px;
      }

      :nth-child(1) {
        color: var(--grey-1000);
      }

      :nth-child(2) {
        color: var(--primary);
      }
    }
  }
}
