.row {
  display: flex;
  justify-content: center;
}

.heading {
  text-align: start;
  width: 66%;
}

.appimg {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.content span {
  color: #0668e1;
}

.content h1 {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 20px;
}

.content {
  width: 100%;
  height: 100%;
  // margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.somebutton {
  background: rgba(6, 104, 225, 0.1);
  color: #0668e1;
  // filter: blur(8px);
  backdrop-filter: blur(2px);
  border: none;
  // -webkit-filter: blur(8px);
  padding: 12px 24px;
  margin-top: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: start;
  border-radius: 8px;
  font-weight: 700;
  cursor: pointer;
  transition: background 0.1s;
}

.someotherbutton {
  /* background: rgba(6, 104, 225, 0.1); */
  background: rgba(6, 104, 225, 0.02);
  color: #6a6a6a;
  font-size: 16px;
  padding: 12px 24px;
  margin-top: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: start;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 700;
}

.settingType {
  color: #8e8e8e;
  font-weight: 700;
  font-size: 14px;
}

.content hr {
  margin-top: 20px;
  height: 1px;
  width: 100%;
  border: none;
  color: #8e8e8e;
  background-color: #8e8e8e;
}

.right {
  width: 50vw;
  margin-left: 1vw;
  // background-color: #dadada;
  border-radius: 8px;
  margin-bottom: 40vh;
}

.oauth__heading h2 {
  font-size: 24px;
  font-weight: 700;
  color: #515151;
  margin-top: 0;
  margin-bottom: 0;
}

.oauth__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  width: 14vw;
  margin-right: 1vw;
}

.appCard {
  display: flex;

  align-items: center;
  // width: 100%;
  padding: 20px 32px;
  height: 100%;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: none;
  border: 1px solid #dadada;
  margin-top: 20px;
  margin-bottom: 20px;
}

.appName {
  color: #212121;
  font-weight: 700;
  font-size: 24px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #bdbdbd;
  margin-right: 8px;
}

.something {
  display: flex;
  align-items: center;
  color: #707070;
  font-size: 20px;
  margin-top: 8px;
}

.appshit {
  margin-left: 20px;
}

.appEdit {
  display: flex;
  align-items: center;
  color: var(--primary);
  font-size: 18px;
  font-weight: 700;
  margin-left: auto;
  padding: 16px 32px;
  border-radius: 5px;
  background: rgba(6, 104, 225, 0.1);
  cursor: pointer;
  border: none;
}
.appRevoke {
  display: flex;
  align-items: center;
  color: #ff2f2f;
  font-size: 18px;
  font-weight: 700;
  margin-left: auto;
  padding: 14px 32px;
  border-radius: 5px;
  background: rgba(#ff2f2f, 0.1);
  cursor: pointer;
  border: none;
}

.edit__heading h2 {
  margin: 0;
  font-size: 28px;
}

.edit__heading h3 {
  margin-top: 8px;
  font-weight: 600;
  font-size: 18px;
}

.edit {
  color: #2f2f2f;
}

.edit__count {
  font-size: 20px;
  font-weight: 600;
  margin-top: 24px;
}

.oauth__create {
  display: flex;
  align-items: center;
  color: var(--primary);
  font-size: 18px;
  font-weight: 700;
  margin-left: auto;
  padding: 16px 32px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  border: none;
}

.credName {
  color: #2f2f2f;
  font-weight: 700;
  font-size: 20px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.creds {
  display: flex;
  align-items: center;
  color: #2f2f2f;
  font-size: 24px;
  font-weight: 800;
  margin-top: 4px;
}

.oauth__save {
  display: flex;
  align-items: center;
  color: var(--primary);
  font-size: 16px;
  backdrop-filter: blur(2px);
  font-weight: 700;
  margin-top: 16px;
  padding: 16px 32px;
  border-radius: 5px;
  background: rgba(6, 104, 225, 0.1);
  cursor: pointer;
  border: none;
}

.clientShit {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reveal {
  align-self: flex-end;
}

.credReveal {
  display: flex;
  align-items: center;
  color: var(--primary);
  font-size: 16px;
  backdrop-filter: blur(2px);
  font-weight: 700;
  margin-top: 16px;
  padding: 16px 32px;
  border-radius: 5px;
  background: rgba(6, 104, 225, 0.1);
  cursor: pointer;
  border: none;
}
