.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 130px;
  height: 70px;

  &__logo {
    margin: 8px 0;
  }

  &__nav {
    margin: auto 0;
    display: flex;
    gap: 15px;

    &__link {
      color: var(--grey-600);
      font-weight: 600;
      cursor: pointer;
      padding: 12px 18px;
      border-radius: 8px;

      background: rgba(255, 255, 255, 0.5);
      backdrop-filter: blur(2px);

      &__active {
        background: rgba(#c6a251, 0.07);
        color: #ffffff;
        color: var(--grey-1000);

        &:hover {
          background: rgba(#c6a251, 0.07);
        }
      }
    }

    &__link:hover {
      background: rgba(#c6a251, 0.06);
    }
  }
}

.accountOptions {
  margin: auto 0;
  display: flex;
  gap: 10px;

  * {
    margin: auto;
  }
}
