:root {
  --primary: #c5a261;
  --neon-green: #30ee43;
  --apple-red: #ff2f2f;

  --primary-dark: hsl(39, 35%, 47%);
  --primary-light: #deb56a;

  --grey-0: #fefefe;
  --grey-200: #999999;
  --grey-400: #777777;
  --grey-600: #555555;
  --grey-800: #333333;
  --grey-1000: #212121;
}
